.wrapper_cart{
    padding: 20px 10px;
    min-height: calc(100vh - 98px);
    display: flex;
}
.wrapper_book_form{
    display: flex;
    width: 100%;
    flex-flow: column;
    gap: 20px;
}
.empty_cart_content{
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: 90%;
    text-align: center;
    font: 700 24px Montserrat;
    color: #244468
}
.empty_cart_content img { 
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}
.return_btn_cart{
    align-self: center;
    text-decoration: none;
    padding: 10px;
    font: 700 15px Open Sans;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #649acc;
    outline: none;
    transition: .3s all ease;
}
.return_btn_cart:hover{
    background-color: #244468;
    color: #fff;
}
.cart_form{
    display: flex;
    flex-flow: column;
}
.book_purchase,
.disable_btn{
    align-self: flex-end;
    padding: 10px;
    font: 700 16px Open Sans;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #649acc;
    outline:none;
    transition: .3s all ease;
}
.book_purchase:hover{
    background-color: #244468;
    color: #fff;
}
.disable_btn{
    cursor: not-allowed;
    color: #fff;
    background-color: #18232c;
    opacity: .5;
}
.cart_book{
    background-color: #c9dbee;
    width: 100%;
    border-radius: 10px;
}
.cart_book_img{
    width: 100%;
    max-width: 65px;
}
.cart_book_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    gap: 15px;
}
.cart_book_main_info{
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 45px;
}
.cart_txt{
    font: 600 16px Montserrat;
    color: #40719e;
    display: flex;
    flex-flow: column;
    text-align: center;
}
.cart_txt span {
    color: #17263a;
}
.delete_btn{
    width: 25px;
    height: 25px;
    border: none;
    margin-right: 10px;
    cursor:pointer;
    background: url(../../img/delete.png) no-repeat center;
    background-size: cover;
}
.total_price_carts {
    align-self: flex-end;
    font: 600 16px Montserrat;
    color: #244468;
}